<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org"
	layout:decorate="~{templates/layout}">

<th:block layout:fragment="conteudo">

	<section class="my-4">
		<div class="container">
			<h2>Cadastro Livro</h2>
		</div>

	</section>

	<section>
		<div class="container">
			<form method="POST" th:object="${produto}"
				th:action="@{/produtos/form}">


				<div class="alert alert-warning alert-dismissible fade show"
					role="alert" th:if="${#fields.hasAnyErrors()}">
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>

					<ul th:if="${#fields.hasErrors('*')}">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input
							is incorrect</li>
					</ul>

				</div>



				<div class="form-group" th:if="${produto.id}">
					<label for="id">Código</label> <input type="text"
						class="form-control-plaintext" disabled th:field="*{id}" />
				</div>

				<div class="form-group">
					<label for="titulo">Título</label> <input type="text"
						class="form-control" th:errorclass="is-invalid"
						placeholder="Título" th:field="*{titulo}" />
				</div>

				<div class="form-group">
					<label for="descricao">Descrição</label>
					<textarea class="form-control" th:errorclass="is-invalid"
						placeholder="Descrição" rows="5" th:field="*{descricao}"></textarea>
				</div>

				<div class="form-group">
					<label for="paginas">Páginas</label> <input type="text"
						class="form-control" th:errorclass="is-invalid"
						placeholder="Páginas" th:field="*{paginas}" />
				</div>


				<div class="form-group">
					<label for="dataLancamento">Data de Lançamento</label> <input
						type="text" class="form-control datepicker"
						th:errorclass="is-invalid" placeholder="Data Lancamento"
						th:field="*{dataLancamento}" />
				</div>


				<div class="form-group">
					<label for="dataLancamento">Data de Lançamento</label>
					
					<div class='input-group date' id='datetimepicker1'>
						<input type='text' class="form-control" /> <span
							class="input-group-addon"><span
							class="glyphicon glyphicon-calendar"></span> </span>
					</div>
				</div>




				<div class="form-group" th:each="tipoPreco,status : ${tipos}">


					<label th:text="${tipoPreco}" th:for="${tipoPreco}"></label> <input
						type="text" class="form-control" th:placeholder="${tipoPreco}"
						th:name="|precos[${status.index}].valor|" th:id="${tipoPreco}" />
					<input type="hidden" class="form-control"
						th:name="|precos[${status.index}].tipo|" th:value="${tipoPreco}" />


				</div>





				<button type="submit" class="btn btn-primary">Salvar</button>
			</form>
		</div>






	</section>

</th:block>

<script>
$(function () {
	   var bindDatePicker = function() {
			$(".date").datetimepicker({
	        format:'YYYY-MM-DD',
				icons: {
					time: "fa fa-clock-o",
					date: "fa fa-calendar",
					up: "fa fa-arrow-up",
					down: "fa fa-arrow-down"
				}
			}).find('input:first').on("blur",function () {
				// check if the date is correct. We can accept dd-mm-yyyy and yyyy-mm-dd.
				// update the format if it's yyyy-mm-dd
				var date = parseDate($(this).val());

				if (! isValidDate(date)) {
					//create date based on momentjs (we have that)
					date = moment().format('YYYY-MM-DD');
				}

				$(this).val(date);
			});
		}
	   
	   var isValidDate = function(value, format) {
			format = format || false;
			// lets parse the date to the best of our knowledge
			if (format) {
				value = parseDate(value);
			}

			var timestamp = Date.parse(value);

			return isNaN(timestamp) == false;
	   }
	   
	   var parseDate = function(value) {
			var m = value.match(/^(\d{1,2})(\/|-)?(\d{1,2})(\/|-)?(\d{4})$/);
			if (m)
				value = m[5] + '-' + ("00" + m[3]).slice(-2) + '-' + ("00" + m[1]).slice(-2);

			return value;
	   }
	   
	   bindDatePicker();
	 });
</script>