<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org"
	layout:decorate="~{templates/layout}">

<th:block layout:fragment="conteudo">

	<section class="my-4">
		<div class="container">
			<h2>Lista de Livros</h2>
		</div>

		<div class="alert alert-success alert-dismissible fade show"
			role="alert" th:if="${!#strings.isEmpty(mensagem)}">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>

			<span th:text="${mensagem}">Mensagem de sucesso.</span>
		</div>

	</section>

	<section>
		<div class="container">
			<div class="table-responsive">
				<table class="table table-bordered table-hover">
					<thead class="thead-light text-center">
						<tr>
							<th>Título</th>

							<th>Descricao</th>

							<th>Página</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="produto: ${produtos}">
							<td><a href="javascript:;" th:text="${produto.titulo}"
								th:href="@{/produto/{id}/editar(id=${produto.id})}">Titulo
									Livro</a></td>
							<td><a href="javascript:;" th:text="${produto.descricao}">descrição
									Livro</a></td>
							<td><a href="javascript:;" th:text="${produto.paginas}">Páginas
									Livro</a></td>

							<!-- 								                                <td class="text-center w-25" -->
							<!-- 								                                    th:text="${#temporals.format(anotacao.cadastro, 'dd/MM/yyyy')}">10/10/2010</td> -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</th:block>